@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';

html {
    @apply h-full;
  }
  body {
    @apply h-full;
  }
  div#__next {
    @apply h-full;
  }
  main {
    @apply h-screen;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #f2f2f2;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  html {
    background: #202123;
    height: 100%;
  }
  
  body {
    height: 100%;
    height: -webkit-fill-available;
    
  }
  
  @media (max-width: 720px) {
    pre {
      width: calc(100vw - 15px);
    }
  }
  
  pre:has(div.codeblock) {
    padding: 0;
  }